<div class="col-xs-12 col-sm-9" style="height:100%" height="100%">
	<div class="page-header">
		<ol class="breadcrumb">
			<li>当前位置：</li>
			<li>个人信息</li>
			<li class="active">查看信息</li>
		</ol>
	</div>
	<div class="container">
		<div class="media">
			<a class="pull-left" href="#">
				{{$photo := .user.PicUrl}}
				{{if $photo}}
					<img class="media-object img-circle" width="320px" style="border:1px gray solid;" src="{{.User.PicUrl}}" alt="...">
				{{else}}
					<img class="media-object img-circle" width="320px" style="border:1px gray solid;" src="/static/img/golang2.jpg" alt="...">
				{{end}}
			</a>
			<div class="media-body">
				<div class="media-heading"><br />
					<h3><span class="label label-info">您的昵称 ： {{.user.UserName}}</span></h3><br />
					<h4><span class="label label-default">您的性别 ： {{.user.Sex}}</span></h4><br />
					<h4><span class="label label-primary">注册日期 ： {{date .user.RegTime "Y-m-d"}}</span></h4><br />
					<h4><span class="label label-success">用户类型 ： {{.user.UserType}}</span></h4><br />
					<h4><span class="label label-warning">电子邮箱 ： {{.user.Email}}</span></h4><br />
				</div>
			</div>
		</div>
	</div>
</div>
</div>