<div class="col-xs-12 col-sm-9">
	<div class="page-header">
		<ol class="breadcrumb">
			<li>当前位置：</li>
			<li>个人信息</li>
			<li class="active">修改查看</li>
		</ol>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="../../static/img/golang2.jpg" alt="..." class="img-rounded" width="180px">
					<div class="caption text-center">
						<a href="#" class="btn btn-primary" role="button">修改头像</a>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-md-8">
			<form role="form" id="user-register" class="form-horizontal">
				<div class="form-group">
					<label for="userName" class="col-sm-2 control-label">用户名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="userName" name="userName" 
						placeholder="请输入用户名" required>
					</div>
				</div>
				<div class="form-group">
					<label for="sex" class="col-sm-2 control-label">性别</label>
					<div class="col-sm-10">
						<div class="radio radio-inline">
							<label><input type="radio" name="sex" id="sex" value="man" checked>男</label>
						</div>
						<div class="radio radio-inline">
							<label><input type="radio" name="sex" id="sex" value="woman">女</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">电子邮箱</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" name="email" placeholder="请输入电子邮箱" required>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">密码</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password" name="password" 
						placeholder="请输入密码" required>
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">确认密码</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="passRepeat" 
							name="passRepeat" placeholder="请再次输入密码" required>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">更新信息</button>
					</div>
				</div>
			</form>
			</div><!--/ form-->
		</div><!--row-->
	</div><!--/container-->
</div><!--/contents-->