<!doctype html>
<html lang="zh-cn">
<head>
    <title>川信职院贴吧</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.png" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/index.css" rel="stylesheet" />
	<script src="../static/js/jquery-1.10.1.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <header id="navbar" class="navbar navbar-default navbar-fixed-top" role="navgation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="../static/img/favicon.png" alt="" width="18px">
                    <strong>川信职院贴吧</strong>
                </a>
            </div><!--/.nav-header-->
            <div class="collapse navbar-collapse">
                <ul id="nav-right" class="nav navbar-nav navbar-right">
                    <li><a href="###" data-toggle="modal" data-target="#myModal">【用户登录】</a></li>
                    <li><a href="###">【用户注册】</a></li>
                </ul>
            </div><!--/.nav-right-->
        </div>
    </header><!--/.header-->

    <section class="container">
        <div class="page-header">
            <h1>用户帐户</h1>
        </div>
        <br />
        <div class="row">
            <form  role="form" id="user-register" method="post" action="/register"
                class="col-md-6 col-xs-12 form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="请输入用户名" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sex" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" name="sex" id="sex" value="男" 
                                checked>男
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" name="sex" id="sex" value="女">女
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">电子邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="请输入电子邮箱" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" 
                        name="password" placeholder="请输入密码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="passRepeat" 
                        name="passRepeat" placeholder="请再次输入密码" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="photo" class="col-sm-2 control-label">上传头像</label>
                    <div class="col-sm-10">
                        <input type="file" id="photo" name="photo">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">创建新用户</button>
            </form>
            <div class="col-xs-12 col-md-6">
                <pre><h3 class="text-center">用户注册须知条款</h3><p class="register-kown">欢迎您注册成为川信贴吧公共服务平台的用户！请仔细阅读下面的协议，只有接受协议才能继续进行注册。
    1．服务条款的确认和接纳川信贴吧公共服务平台用户服务的所有权和运作权归川信学院拥有。川信贴吧公共服务平台所提供的服务将按照有关章程、服务条款和操作规则严格执行。用户通过注册程序点击“我同意” 按钮，即表示用户与川信贴吧公共服务平台达成协议并接受所有的服务条款。
    2. 用户同意：
    (1)提供及时、详尽及准确的个人资料。
    (2)不断更新注册资料，符合及时、详尽、准确的要求。所有原始键入的资料将引用为注册资料。
    </p></pre>
            </div>
        </div>
    </section>

</div><!--/.wrap-->

<footer id="footer">
    <div class="container">
        <p class="text-muted">&copy; Dowish.net　2014</p>
    </div>
</footer>

{{template "footer.html" .}}

<script src="../static/js/bootstrap.min.js"></script>
</html>